.navContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 2rem;
    background-color: transparent;
    color: white;
    padding-bottom: 1em;
}

.navContainer>a {
    padding: 0.5em 1em;
}


.navContainer>a:hover {
    border-radius: .8em .3em;
    background-image: linear-gradient(to right, #ffffff4d, rgba(52, 85, 63, 1) 150%, #ffffff4d);
}
