.navContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: .5rem;
    background: rgba(52, 85, 63, 1);
    color: white;
    position: fixed;
    z-index: 100;
    width: 100%;
}

.navContainer>a {
    padding: 0.5em 1em;
}


.navContainer>a:hover {
    background-image: linear-gradient(to right, #ffffff4d, rgba(52, 85, 63, 1) 150%, #ffffff4d);
}

.selected {
    border-bottom: 2px solid white;
}
